<form class="edit form-inline" action="/post/<%= posts.id%>?_method=PUT" method="POST">
  <label for="topic">Topic: </label>
  <input class="form-control button" type='text' name="topic" value="<%= posts.topic %>"><br/>
  <label for="body">body: </label>
  <input class="form-control button" type='text' name="body" value="<%= posts.body %>"><br/>
  <label for="body">img: </label>
  <input class="form-control button" type='text' name="img" value="<%= posts.img %>"><br/>
  <input class="submit form-control" type="submit" name="submit" value="submit">
</form>
