<footer class="muted-tex container-fluid">
  <div class="line">
    <div class="logo1">
    <a class="watermark" href="/theU"><img class="logoPic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Miami_Hurricanes_logo.svg/2000px-Miami_Hurricanes_logo.svg.png"/></a>
    </div>
  </div>
</footer>
