<header class="text-center">
  <div class="logo">
    <a href="/theU"><img class="logoPic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Miami_Hurricanes_logo.svg/2000px-Miami_Hurricanes_logo.svg.png"/></a>
  </div>
  <nav class="container-fluid">
    <ul id="nav" >
      <a class="btn" href="/" title="Home">
        <li class="btn-lg">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </li></a>
      <a  class="btn" href='#' title="About Us">
        <li class="btn-lg">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></li></a>
      <a class="btn" href='#' title="Contact Us">
        <li class="btn-lg"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li></a>
     </ul>
  </nav>
</header>
