<header class="text-center">
  <div class="logo btn">
    <a href="/theU"><img class="logoPic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Miami_Hurricanes_logo.svg/2000px-Miami_Hurricanes_logo.svg.png"/></a>
  </div>
  <nav class="">
    <ul id="nav" >
      <a class="btn btn-lg" href="/" title="Home">
        <li class="">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </li></a>
      <a  class="btn btn-lg" href='#' title="About Us">
        <li class="">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></li></a>
      <a class="btn btn-lg" href='#' title="Contact Us">
        <li class=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li></a>
     </ul>
  </nav>
</header>
