<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

    <header class="text-center">
      <h1>The U</h1>
    </header>

    <main>

      <div class="form container-fluid">

        <form action="/theU/login" method="post" class="form-inline">
            <div class="form-group">
              <label for="exampleInputName2">Username</label>
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">Password</label>
              <input type="password" class="form-control" id="exampleInputEmail2" placeholder="password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

      </div>

    </main>

    <footer>
      all rights reserveds    </footer>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
