<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <main>
      <h1>new page</h1>
      <form class="edit form-inline" action="/post/post" method="POST">

        <input class="form-control" type='text' name="topic" value="" placeholder="your topic">
        <input class="form-control" type='text' name="body" value="" placeholder="description">
        <input class="form-control" type='text' name="img" value="" placeholder="image URL">
        <input class="submit form-control" type="submit" name="submit" value="submit">
        <a href="/theU">Home</a>
    </main>
  </body>
</html>
