<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% include ./partials/header.ejs %>


    <main>

      <div class="form container-fluid">
        <div class="white">
        <form action="/theU/register" method="post" class="form-inline">
            <div class="form-group">
              <label for="exampleInputName2">Username</label>
              <input class="button" type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">Password</label>
              <input class="button" type="password" class="form-control" id="exampleInputEmail2" placeholder="password">
            </div>
            <button type="submit" class=" submit">Submit</button>
          </form>

      </div>
    </div>
    <% include ./partials/footer.ejs %>
    </main>


      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
